*.gem
.bundle
.jekyll-cache
.sass-cache
_site
.env
__pycache__/
images/pictures-html.md
_posts/test.txt
.DS_Store
_data/most_recent_mastodon_post.yml
assets/images/mastodon_profile_image*
assets/images/mastodon_image_*
_data/most_recent_mastodon_post.yml
_scripts/description-data.jsonl
assets/images/hardcover/
_data/hardcover_currently_reading.json
