<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <a href="{{ item.url }}" style="text-decoration: none;">
        <span class="header">
          <h4>{{ item.title }}</h4>
          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}
        </span>
          <hr />
          {% if item.desc != false %}
            <p class="body">{{ item.desc }}</p>
          {% endif %}
        </a>
    </li>

  {% endfor %}
</ul>
