<p style="font-weight: bold; margin-top: 2.5rem; margin-bottom: 0rem;">
  {% capture last_modified_date %}{% last_modified_at %}{% endcapture %}
  {% capture current_date %}{{ page.date | date: site.theme_config.date_format }}{% endcapture %}
  {% if page.date %}
    Posted On:
    <span>{{ current_date }}</span>
    {% if last_modified_date != current_date %}
      / Last Modified:
      <span>{{ last_modified_date }}</span>
    {% endif %}
  {% endif %}
</p>

{% if page.tags.size > 0 %}
  <div style="display: inline-flex; flex-wrap: wrap;">
    <span style="font-weight: bold;">Tags:  </span>
    <!-- <ul class="tag-ul" style="margin: 0.2rem;"> -->
    <ul class="tag-ul" style="margin: 0.2rem;"></ul>
      {% assign sorted_page_tags = page.tags | sort %}
      {% for tag in sorted_page_tags %}
      <a href="/tag/{{ tag }}"><li class="tag" style="margin: 0.2rem;">{{ tag | replace: "-", " " }}</li></a>
      {% endfor %}
    </ul>
  </div>
{% endif %}


<p style="font-weight: bold; margin: 0rem;"><span>Written by {{ site.author }}</span></p>

{% if page.github %}
  <iframe
  src="https://ghbtns.com/github-btn.html?user=JLO64&repo={{ page.github }}&type=watch&size=large"
  frameborder="0" scrolling="0" width="170" height="30" title="GitHub" style="margin-top: 1em; margin-bottom: 1em;">
</iframe>
{% endif %}
