<p class="post-date text-bold">
  {% if page.author %}
   <span class="text-notupcase">{{ page.author }}</span> /
  {% endif %}

  {% capture last_modified_date %}{% last_modified_at %}{% endcapture %}
  {% capture current_date %}{{ page.date | date: site.theme_config.date_format }}{% endcapture %}
  {% if page.date %}
    Posted On:
    <span class="text-notupcase">{{ current_date }}</span>
    {% if last_modified_date != current_date %}
      / Last Modified:
      <span class="text-notupcase">{{ last_modified_date }}</span>
    {% endif %}
  {% endif %}
  


{% if site.theme_config.show_reading_time == true %}
  {% capture words %}
  {{ content | number_of_words | minus: 180 }}
  {% endcapture %}
  {% unless words contains '-' %}
  {{ words | strip | prepend: '(' | append: ' Words, ' }}
  {{ words | plus: 180 | divided_by: 180 | append: ' Minutes)' }}
  {% endunless %}
{% endif %}
</p>

{% if site.theme_config.show_tags == true %}
  <div class="">
    {% for tag in page.tags %}
    <span class="tag">
      <a href="{{ site.url }}/archive/{{ tag }}">{{ tag }}</a>
    </span>
    {% endfor %}
  </div>
{% endif %}

<br>