<script>
    window.addEventListener('load', dialogButtonInitializer);
    
    function dialogButtonInitializer() {
        const all_pictures = document.querySelectorAll('picture');
        const dialog = document.querySelector('dialog')
        const dialogContent = document.getElementById('img-dialog-content');
        const body = document.querySelector('body');
    
        all_pictures.forEach(openDialogButton => {
            openDialogButton.addEventListener('click', (event) => {
                // Copy the contents of the clicked picture into the dialog content
                let htmlContent = event.target.outerHTML;
                htmlContent = htmlContent.replace(/\?tr=w-480/g, '').replace(/max-height: 60vh/g, '').replace(/border-radius: 1rem;/g, '');
                dialogContent.innerHTML = htmlContent;

                dialog.showModal()
                body.style.overflow = 'hidden';
          })
      })
    
      dialog.addEventListener('click', (event) => {
          const dialogDimentions = dialog.getBoundingClientRect()
          if (
              event.clientX < dialogDimentions.left ||
              event.clientX > dialogDimentions.right ||
              event.clientY < dialogDimentions.top ||
              event.clientY > dialogDimentions.bottom
          ) {
              dialog.close()
              body.style.overflow = '';
          }
      })
    }
    </script>
    
    <dialog id="img-dialog">
        <div id="img-dialog-content"></div>
    </dialog>
    