<!-- <dialog id="menu-dialog">
    <div id="navbar-dialog-content">
      <button menu-close class="closedialogbutton">
        <span class="closebar1"></span>
        <span class="closebar2"></span>
      </button>
        <div style="position: fixed; top: 1.5rem; right: 1.5rem;">
      </div>
      <ul class="navbar-list-mobile">
        {% for item in site.data.home.navbar_entries %}
          <li>
            <a href="{{ item.url }}">
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </dialog> -->

<script>
    // window.addEventListener('load', menuDialogInitializer);
    window.addEventListener('load', mobileMenuInitializer);
  
    let menubutton = document.querySelector('#topbar-menu');
    let menubutton_img = menubutton.querySelector('img');
    let topbar_bottom_row = document.querySelector('.topbar-bottom-row');
    let showing_topbar_bottom_row = false;

    function mobileMenuInitializer () {
      menubutton.addEventListener('click', () => {
      if (showing_topbar_bottom_row) {
        showing_topbar_bottom_row = false;
        topbar_bottom_row.style.display = "none";
        menubutton_img.src = "https://raw.githubusercontent.com/FortAwesome/Font-Awesome/a1232e34553634c5363aa62c8d1b02161a4438e1/svgs/solid/bars.svg"
      }
      else
      {
        showing_topbar_bottom_row = true;
        topbar_bottom_row.style.display = "flex";
        menubutton_img.src = "https://raw.githubusercontent.com/FortAwesome/Font-Awesome/a1232e34553634c5363aa62c8d1b02161a4438e1/svgs/solid/xmark.svg"
      }
      })
    }

    function menuDialogInitializer() {
      const openMenuDialogButton = document.querySelector('[menu-open]')
      const closeDialogButton = document.querySelector('[menu-close]')
      const glossaryLinkButton = document.querySelector('[glossary-link]')
      const menuDialog = document.getElementById('menu-dialog');
      const body = document.querySelector('body');
      const navbarlistmobile = document.querySelector('.navbar-list-mobile');
      const darkSwitchmobile = document.querySelector('.darkSwitchmobile');
  
      openMenuDialogButton.addEventListener('click', () => {
        menubutton_img.src = "https://raw.githubusercontent.com/FortAwesome/Font-Awesome/a1232e34553634c5363aa62c8d1b02161a4438e1/svgs/solid/xmark.svg"
        menuDialog.showModal();
        //set the overflow to hidden to prevent scrolling of the background
        body.style.overflow = 'hidden';
      })
  
      closeDialogButton.addEventListener('click', () => {
        menubutton_img.src = "https://raw.githubusercontent.com/FortAwesome/Font-Awesome/a1232e34553634c5363aa62c8d1b02161a4438e1/svgs/solid/bars.svg"
        menuDialog.close();
        body.style.overflow = '';
      })
  
      menuDialog.addEventListener('click', (event) => {
          const navbarListDimentions = navbarlistmobile.getBoundingClientRect();
          //const darkSwitchDimensions = darkSwitchmobile.getBoundingClientRect();
  
          if (
              event.clientX < navbarListDimentions.left ||
              event.clientX > navbarListDimentions.right ||
              event.clientY < navbarListDimentions.top ||
              event.clientY > navbarListDimentions.bottom
          )
          {
            menubutton_img.src = "https://raw.githubusercontent.com/FortAwesome/Font-Awesome/a1232e34553634c5363aa62c8d1b02161a4438e1/svgs/solid/bars.svg"
            menuDialog.close();
              body.style.overflow = '';
          }
      })
    }
  </script>