{% if site.posts.size > 0 %}
  <ul>
    {% for post in site.posts limit:include.limit %}
      <li class="post-list-item">
        <span class="home-date">
          {{ post.date | date: site.theme_config.date_format }} -
        </span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a><br>
        {% for tag in post.tags %}
          <span class="tag">
            <a href="{{ site.url }}/archive/{{ tag }}">{{ tag }}</a>
          </span>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endif %}