<script type="text/javascript">
  window.addEventListener('load', themeChange);
  window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", event => {
    const newColorScheme = event.matches ? "dark" : "light";
    switchToColorTheme(newColorScheme);
});
  isDarkMode = window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches;
  
  const isDesktop = window.matchMedia('(min-width: 800px) and (orientation: landscape) and (hover: hover) and (pointer: fine)');
  if (isDesktop.matches)
  {
    localStorageTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
    moonSvgCode = '';
    sunSvgCode = '';
    fetch('../assets/svg/toggle_moon.html')
    .then(response => response.text())
    .then(data => {moonSvgCode = data;})
    .then(console.log(moonSvgCode));
    fetch('../assets/svg/toggle_sun.html')
    .then(response => response.text())
    .then(data => {sunSvgCode = data;})
    .then(console.log(sunSvgCode));
    
    if (localStorageTheme)
    {
      if (localStorageTheme === 'dark')
        switchToColorTheme('dark', true);
      else
        switchToColorTheme('light', true);
    }
  }

  if (isDarkMode)
    switchToColorTheme('dark', true);
  else
    switchToColorTheme('light', true);

  function switchToColorTheme(themeChangeto, pageload = false) {
    if (!pageload)
    {
      document.documentElement.classList.add('transition');
      transition();
    }
    if (themeChangeto === 'light')
    {
      document.documentElement.setAttribute('data-theme', 'light');
      localStorage.setItem('theme', 'light');
    }
    else
    {
      document.documentElement.setAttribute('data-theme', 'dark');
      localStorage.setItem('theme', 'dark');
    }
    // if the button "document.querySelector('.theme-toggle');" has loaded, if not wait 100ms and try again
    if (!document.getElementById('darkModeButton'))
    {
      setTimeout(function() {
        changeButtonSVG(themeChangeto);
       }, 300);
    }
    else
      changeButtonSVG(themeChangeto);
  }
  
  function changeButtonSVG(themeChangeto) {
    let button = document.getElementById('darkModeButton');
    let svg = button.querySelector('svg');
    if (themeChangeto === 'light')
    {
      svg.innerHTML = moonSvgCode;
      svg.setAttribute('viewBox', '0 0 40 40');
    }
    else
    {
      svg.innerHTML = sunSvgCode;
      svg.setAttribute('viewBox', '0 0 40 40');
    }   
  }

  function transition(){
    document.documentElement.classList.add('transition');
    window.setTimeout(() => {
      document.documentElement.classList.remove('transition');
    }, 1000);
  }

  function themeChange() {
    let button = document.querySelector('.theme-toggle');

    button.addEventListener('click', function (e) {
      let currentTheme = document.documentElement.getAttribute('data-theme');
      if (currentTheme === 'light')
        switchToColorTheme('dark');
      else
        switchToColorTheme('light');
  });
  }
</script>

