<script type="text/javascript">
  window.addEventListener('load', themeChange);
  window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", event => {
    const newColorScheme = event.matches ? "dark" : "light";
    switchToColorTheme(newColorScheme);
});
  isDarkMode = window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches;
  localStorageTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;

  if (localStorageTheme)
  {
    if (localStorageTheme === 'dark')
      switchToColorTheme('dark', true);
    else
      switchToColorTheme('light', true);
  }
  else
  {
    if (isDarkMode)
      switchToColorTheme('dark', true);
    else
      switchToColorTheme('light', true);
  }

  function switchToColorTheme(themeChangeto, pageload = false) {
    if (!pageload)
    {
      document.documentElement.classList.add('transition');
      transition();
    }
    if (themeChangeto === 'light')
    {
      document.documentElement.setAttribute('data-theme', 'light');
      localStorage.setItem('theme', 'light');
    }
    else
    {
      document.documentElement.setAttribute('data-theme', 'dark');
      localStorage.setItem('theme', 'dark');
    }
    changeButtonSVG(themeChangeto);
  }
  
  function changeButtonSVG(themeChangeto) {
    let button = document.querySelector('#topbar-lightbulb');
    let button_img = button.querySelector('img');
    if (themeChangeto === 'light')
    {
      button_img.src = "/assets/svg/solid-lightbulb.svg";
    }
    else
    {
      button_img.src = "/assets/svg/lightbulb.svg";
    }   
  }


  function transition(){
    document.documentElement.classList.add('transition');
    window.setTimeout(() => {
      document.documentElement.classList.remove('transition');
    }, 1000);
  }

  function themeChange() {
    let button = document.querySelector('#topbar-lightbulb');

    button.addEventListener('click', function (e) {
      let currentTheme = document.documentElement.getAttribute('data-theme');
      if (currentTheme === 'light')
        switchToColorTheme('dark');
      else
        switchToColorTheme('light');
  });
  }
</script>

