@keyframes w_breathe {
  0%, 20% {
    box-shadow: 0 0 5rem var(--link-underline);
  }

  80%, 100% {
    box-shadow: 0 0 4rem var(--link-underline);
  }
}
@keyframes initial_card_breathe {
  from {
    box-shadow: 0 0 0 var(--link-underline);
  }
  to {
    box-shadow: 0 0 1.2rem var(--link-underline);
  }
}
@keyframes initial_mastodon_card_breathe {
  from {
    box-shadow: 0 0 0 var(--mastodon);
  }
  to {
    box-shadow: 0 0 1.2rem var(--mastodon);
  }
}
@keyframes card_breathe {
  0%, 20% {
    box-shadow: 0 0 1.2rem var(--link-underline);
  }

  80%, 100% {
    box-shadow: 0 0 0.5rem var(--link-underline);
  }
}
@keyframes mastodon_card_breathe {
  0%, 20% {
    box-shadow: 0 0 1.2rem var(--mastodon);
  }

  80%, 100% {
    box-shadow: 0 0 0.5rem var(--mastodon);
  }
}
@keyframes img_border_breathe {
  0%, 20% {
    box-shadow: 0 0 0 0 var(--link-underline);
  }

  80%, 100% {
    box-shadow: 0 0 0 0.5rem var(--link-underline);
  }
}
@keyframes a_breathe {
  0%, 20% {
    text-shadow: 0 0 1.1rem var(--link-underline);
  }

  80%, 100% {
    text-shadow: 0 0 0.4rem var(--link-underline);
  }
}