html {
    --bg: #FFF;
    --bg-secondary: #f3f4f6;
    // --bg-secondary-opaque: rgba(243, 244, 246, 0.8);
    --bg-secondary-opaque: rgba(243, 244, 246, 0.95);
    --headings: #1e293b;
    --text: #374151;
    --text-secondary: #6b7280;
    --link-text: black;
    --link-underline: #74c0fc;
    --link-underline-hover: black;
    --highlight: #dedede;
    --code-text: black;
    --tag: #dedede;
    --w-mobile-background: #ffffff;
    --scrollbar-foreground: #74c0fc;
    --scrollbar-background: #c0c0c0;
    --card-color: #cfd2e2;
}
// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  html, body  {
      --headings: #74c0fc;
      --link-text: #FFF;
      --link-underline: #74c0fc;
      --link-underline-hover: white;
      --highlight: #a9a9a9;
      --bg: #000000;
      --bg-secondary: #323945;
      // --bg-secondary-opaque: rgba(0, 0, 0, 0.8);
      --bg-secondary-opaque: rgba(0, 0, 0, 1);
      --text: #adb5bd;
      --text-secondary: #9CA3AF;
      --code-text: white;
      --tag: #323945;
      --w-mobile-background: #000000;
      --scrollbar-foreground: #74c0fc;
      --scrollbar-background: #c0c0c0;
      --card-color: rgb(26, 31, 53);
  };
}
html[data-theme="dark"] { @include dark-appearance; }
