@media (min-width: 800px) and (orientation: landscape) and (hover: hover) and (pointer: fine) {
// @media (hover: hover) and (pointer: fine) {
  .theme-toggle {
    display: block;
  }
  .background-svg {
    display: inline;
  }
  html, body {
    background-color: #00000000;
    border: none;
    border-radius: 0rem;
    font-size: 1.1rem;
  }
  .w {
    background: var(--bg-secondary-opaque);
    max-width: 60vw;
    border-radius: 4rem;
    // border: 0.5rem solid var(--link-underline);
    animation: w_breathe 1s infinite alternate linear;
    padding: 1.5rem;
  }
  .page-content{
    padding-bottom: 2rem;
    padding-top: 7rem;
  }
  .project-card {
    overflow: auto;
    max-height: 36rem;
    align-content: flex-start;
  }
  a:hover {
    text-decoration-color: var(--link-underline);
    color: var(--link-underline);
    // font-weight: 800;
    // font-size: 110%;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.4rem;
    // text-shadow: 0 0 1rem var(--link-underline);
    animation: a_breathe 0.7s infinite alternate ease-in-out;
  }
  .tag:hover {
    box-shadow: 0 0 0 0.2rem var(--card-color);
    font-weight: 999;
    // font-size: 1.3rem;
    // a{
    //   animation: none;
    // }
  }
  a li.tag:hover {
    text-shadow: none;
  }
  .h1-website-title:hover {
    font-size: 3.5rem;
    // text-shadow: 0 0 2rem var(--link-underline);
    // color: var(--link-underline);
    font-weight: 999;
    border: solid var(--link-underline) 0.8rem;
  }
  .blog_image {
    height: 40vh;
  }
  .blog_image:hover {
    border-radius: 0.5rem;
    height: 60vh;
    cursor: pointer;
    border: none;
    animation: img_border_breathe 0.7s infinite alternate ease-in-out;
  }
  .limit-homepage-posts
  {
    ul{
      li:nth-of-type(1n+4) {
        display: block;
      }
    }
  }
  .credits {
    ul {
      justify-content: space-evenly;
      li:hover{
        box-shadow: 0 0 0 0.2rem var(--button-hover-border);
      }
    }
  }
  .credit-links{
    font-size: 1.1rem;
  }
  .hamburger-menu-link {
    display: none;
  }
  header {
    display: block;
  }
  .topbar-links {
    display: block;
  }
  .topbar-links:hover {
    font-size: 1.8rem;
    text-underline-offset: 0.6rem;
    text-decoration-thickness: 0.3rem;
    // margin: 0rem;
    line-height: 1rem;
    font-weight: 800;
  }
  .a-website-title{
    margin: auto 1rem;
  }
  .a-website-title:hover {
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 0.15rem 0.4rem;
    border: solid var(--link-underline) 0.4rem;
    border-radius: 1.2rem;
    text-decoration: none;
    height: fit-content;
    color: white;
    animation: none;
  }
  .topbar-button:hover {  
    img {
      filter: invert(57%) sepia(86%) saturate(417%) hue-rotate(182deg) brightness(109%) contrast(98%);
      height: 2.6rem;
    }
  }
  #topbar-menu {
    display: none;
  }
  #topbar-radio {
    display: block;
  }
  .project-box {
    h3:hover{
      color: var(--link-underline)
    }
    ul {
      li:hover {
        font-size: 1rem;
        font-weight: 500;
        box-shadow: none;
      }
    }
    .project-box-image {
      filter: grayscale(100%) sepia(0.2) opacity(0.75);
    }
  }
  .homepage-mastodon-post {
    .mastodon_image {
      filter: grayscale(100%) sepia(0.2) opacity(0.75);
    }
  }
  .homepage-mastodon-post:hover {
    // animation: card_breathe 1s infinite alternate linear;
    animation: initial_mastodon_card_breathe 0.3s forwards;
    .mastodon_image{
      border-radius: 1rem !important;
      filter: none;
    }
  }
  .project-box:hover {
    // animation: card_breathe 1s infinite alternate linear;
    animation: initial_card_breathe 0.3s forwards;
    .project-box-image{
      filter: none;
      border-radius: 0.5rem !important;
    }
  }
  .post-list-item:hover {
    animation: initial_card_breathe 0.3s forwards;
  }
  .topbar {
    max-height: fit-content;
  }
  .topbar-bottom-row {
    display: none;
  }
  a.credit-color-box:hover, a.club-color-box:hover{
    animation: none;
    font-weight: 800;
  }
  .h1-website-title {
    font-size: 3.5rem;
  }
  .mastodon-post-date{display: block !important;}
}