@media (min-width: 800px) and (orientation: landscape) and (hover: hover) and (pointer: fine) {
  .theme-toggle {
    display: block;
  }
  .background-svg {
    display: inline;
  }
  html, body {
    background-color: #00000000;
    border: none;
    border-radius: 0rem;
    font-size: 1.1rem;
  }
  .w {
    background: var(--bg-secondary-opaque);
    max-width: 60vw;
    border-radius: 4rem;
    border: 0.5rem solid var(--link-underline);
    box-shadow: 0 0 1.5rem var(--link-underline);
  }
  .page-content{
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .homepage_flex_divs {
    max-width: 30vw;
  }
  ul.horizontal-list {
    max-width: 40vw;
    li a:hover {
      font-weight: 999;
      font-size: 1.8rem;
    }
  }
  .project-card {
    overflow: auto;
    height: 36rem;
  }
  a:hover {
    text-decoration-color: var(--link-underline);
    color: var(--link-underline);
    font-weight: 990;
    font-size: 110%;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.4rem;
    text-shadow: 0 0 1rem var(--link-underline);
  }
  // p:hover {font-size: 101%;}
  .tag:hover {font-size: 120%;}
  .h1-website-title:hover {
    font-size: 4rem;
    text-shadow: 0 0 2rem var(--link-underline);
    color: var(--link-underline);
  }
  // h2:hover, h3:hover, h4:hover, h5:hover  {font-size: 110%;}  
  h1:hover  {font-size: 2.5rem;}  
  h2:hover  {font-size: 2rem;}
  .card:hover {
    border: 0.3rem solid var(--link-underline);
    box-shadow: 0 0 0.8rem var(--link-underline);
    a {
      text-shadow: none;
      font-size: 100%;
      font-weight: normal;
    }
  }
} 