#img-dialog {
    z-index: 10;
    margin: auto;
    background: none;
    border: none;
    border-radius: none;
    min-height: 9rem;
    animation: popin 0.3s;
  }
#img-dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
  animation: fadein_onlyopacity 0.2s ease-out;
}

#img-dialog-content{
  img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 0rem;
    border: none;
    animation: none;
    height: auto;
  }
  img:hover {
    cursor: auto;
  }
}

.closedialogbutton {      
  height: 1.875rem;
  width: 2.0625rem;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  margin-bottom: 1rem;
  background: var(--bg-secondary);
  z-index: 100;
  border-radius: 0.6rem;
  border: none;
  padding: 1.6rem;
  // opacity: 50%;
}
.closedialogbutton:hover {
  opacity: 100%;
}
.closedialogbutton:focus {
  opacity: 100%;
}

.closebar1, .closebar2 {
  margin-top: 0.1875rem;
  background: #999;
  width: 2.75rem;
  height: 0.333rem;
  position: fixed;
  margin-top: 0.8125rem;
  top: 1.6rem;
  right: 1.17rem;
  border-radius: 0.5rem;
}

.closebar1 {
  transform: rotate(45deg);
}
.closebar2 {
  transform: rotate(-45deg);
}

@keyframes popin {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadein_onlyopacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hamburger-menu-link {
  height: 1.875rem;
  width: 2.0625rem;
  cursor: pointer;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background: var(--bg-secondary);
  z-index: 100;
  border-radius: 0.6rem;
  border: none;
  padding: 0.5rem;
}

.bar1, .bar2, .bar3 {
  margin-top: 0.1875rem;
  background: #999;
  width: 2.0625rem;
  height: 0.25rem;
  position: absolute;
}
.bar2 {
 margin-top: 0.8125rem;
}
.bar3 {
  margin-top: 1.4375rem;
}

#menu-dialog {
  z-index: 15;
  // margin: auto;
  margin: auto;
  // border: 0.5rem var(--mobile-nav-background) solid;
  border: none;
  width: auto;
  height: auto;
  padding: 0rem;
  animation: slideinfromtop 0.3s;
  background: none;
}
#menu-dialog::backdrop {
  // background-color: var(--mobile-nav-background);
  background: rgb(116, 192, 252);
}

.navbar-list-mobile {
  margin: 0;
  padding: 0;
  //padding: 1rem 0;
  float: left;
  //width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul.navbar-list-mobile {
  li {
    display: block;
    font-size: 3rem;
    // max-width: 12rem;
    margin: 0;
  }
  li a {
    text-decoration: none;
    // color: var(--headings);
    font-weight: bold;
  }
}

.hamburger-menu-close-link {
  height: 1.875rem;
  width: 2.0625rem;
  cursor: pointer;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  background: var(--bg-secondary);
  z-index: 100;
  border-radius: 0.6rem;
  border: none;
  padding: 0.5rem;
}