#img-dialog {
  z-index: 10;
  padding: 0rem;
  margin: auto;
  background: none;
  border: none;
  border-radius: none;
  min-height: 9rem;
  animation: popin 0.3s;
}
#img-dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
  animation: fadein_onlyopacity 0.2s ease-out;
}

#img-dialog-content{
  img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 0rem;
    border: none;
    animation: none;
    height: auto;
  }
  img:hover {
    cursor: default;
  }
}

@keyframes popin {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadein_onlyopacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}