@supports (-webkit-touch-callout: none) {
    // @media only screen and (min-height: 640px) and (orientation: portrait) { }
    html {
        border: 1vw solid #74c0fc;
    }
    body {
        border-radius: none;
    }
    .w {
        border-radius: 4rem 4rem 0 0;
    }
    .credit-container {
        border-radius: 0 0 4rem 4rem;
    }
}