.random::before{
    content: "";
    display: inline-block;
    height: 1.25rem; 
    width: 1.25rem;
    margin-right: 0.2rem;
    background: url('/assets/svg/shuffle.svg') no-repeat center center / contain;
    filter: invert(70%) sepia(8%) saturate(2681%) hue-rotate(174deg) brightness(102%) contrast(98%);
}

a[href*="mailto:"]::before{
    content: "";
    display: inline-block;
    height: 0.9rem; 
    width: 0.9rem;
    filter: invert(70%) sepia(8%) saturate(2681%) hue-rotate(174deg) brightness(102%) contrast(98%);    
    margin-right: 0.2rem;
    background: url('/assets/svg/envelope.svg') no-repeat center center / contain;
}

p{
    a[href*="feed.xml"]:hover{
        text-shadow: 0 0 1.1rem #F99A39;
        color: #F99A39;
        text-decoration-color: #F99A39;
        animation: none;
    }
    a[href*="feed.xml"]::before{
        content: "";
        display: inline-block;
        height: 0.9rem; 
        width: 0.9rem;
        filter: invert(71%) sepia(66%) saturate(1831%) hue-rotate(333deg) brightness(102%) contrast(95%);
        margin-right: 0.2rem;
        background: url('/assets/svg/rss.svg');
    }
}