ul.horizontal-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-inline-start: 0;
  max-width: 40vw;

  li {
    display:inline;
    margin: 0 0 1.5rem 0;
  }

  li a {
    // text-decoration: none;
    font-weight: normal;
    font-size: 1.1rem;
  }

}

.card {
  padding: 1.3rem 1rem 0rem 1rem;
  border: 0.2rem solid var(--headings);
  width: 14rem;
  height: auto;
  text-align: center;
  align-items: center;
  background-color: var(--bg-secondary);
  margin-bottom: 1.5rem;
  border-radius: 2rem;

  .body {
    font-size: 0.8rem;
  }

  hr {
    margin: 0.5em 0;
  }

}