.project-card {
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

.project-card {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-inline-start: 0;
  -ms-overflow-style: none;


  li {
    display:inline;
    margin: 0 0 1.5rem 0;
  }

  li a {
    font-weight: normal;
    font-size: 1.3rem;
  }

  li h4 {
    font-weight: normal;
    font-size: 1.1rem;
    color: var(--link-text);
    margin: 0;
    height: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.card {
  padding: 1.3rem 1rem 0rem 1rem;
  // border: 0.2rem solid var(--headings);
  width: 14rem;
  height: auto;
  text-align: center;
  align-items: center;
  background-color: var(--card-color);
  margin-bottom: 1.5rem;
  border-radius: 2rem;

  .body {
    font-size: 0.8rem;
  }

  hr {
    margin: 0.5em 0;
    // padding: 2rem;
    border-style: solid;
  }

}