.project-card {
  display: flex;
  justify-content: space-evenly;
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
  margin: 0 auto;
  flex-wrap: wrap;
  padding-inline-start: 0;
  -ms-overflow-style: none;
  padding: 0.9rem 0;
  // https://stackoverflow.com/questions/18651345/gradient-opacity-on-the-bottom-of-div
}

.card {
  width: 15rem;
  height: fit-content;
  text-align: center;
  align-items: center;
  background-color: var(--card-color);
  border-radius: 2rem;
  padding: 0.4rem;
  display:inline;
  transition: 0.2s ease-out;
  .body {
    font-size: 0.8rem;
  }
  hr {
    margin: 0.5rem 0;
    border-style: solid;
  }
  a {
    font-weight: normal;
    font-size: 1.3rem;
    text-decoration: none;
  }
  h3 {
    font-weight: normal;
    font-size: 1.1rem;
    color: var(--link-text);
    margin: 0;
    padding: 0 0.5rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 0.5rem;
  }
  p {
    margin: 0;
    height: 4.2rem;
    align-items: center;
    display: flex;
    width: auto;
    justify-content: center;
  }
  mark {
    padding: 0.1rem 0.3rem;
    background-color: var(--highlight);
    border-radius: 0.4rem;
    font-size: 0.6em;
    letter-spacing: 0.05rem;
    margin-left: 0.3rem;
    font-weight: 500;
  }
}