.media-section-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid var(--text);
  padding-bottom: 0.3rem;
  margin-bottom: 1.5rem;

  h2 {
    margin: 0;
    border-bottom: none;
    padding-bottom: 0;
  }

  a {
    font-size: 1.3rem;
    white-space: nowrap;
  }
}
