html {
  height: 100%;
  background-color: #74c0fc;
}

body {
  font-family:  "Inter", -apple-system, "avenir next", avenir, roboto, noto, ubuntu, "helvetica neue", helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 2;
  margin: 0;
  min-height: 100%;
  border: none;
}

h2, h3, h4, h5 { margin-top: 1.5em; }

hr { margin: 1em 0; }

hr.page-break {
  text-align: center;
  border: 0;

  &:before { content: '-----' }
  &:after { content: attr(data-content) '-----' }
}

p {
  margin: 1em 0; 
}

li { margin: 0.4em 0; }

.w {
  margin: 0 auto;
  padding: 2em 2em;
  background: var(--w-mobile-background);
  max-width: 50rem;
}

table, th, td {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4em;
}

div.highlighter-rouge pre code, pre code.highlighter-rouge {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1em;

  p { margin: 0; }
}

.theme-toggle {
  color: var(--text);
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  margin: 1em;
  position: fixed;
  right: 0;
  top: 0;
  border: 2px transparent solid;
  outline: none;
  display: none;
  animation: rotate_360 10s linear infinite;
}

.theme-toggle:hover {
  color: var(--link-text);
  outline: none;
}
.theme-toggle:focus {
  outline: none;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

body {
    // background-color: var(--bg);
    color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--headings);
}
p, strong, b, em, small, li, hr, table, figcaption {
    color: var(--text);
}
.highlight, pre code, blockquote {
  border-radius: 0.5em;
}
blockquote {
  background-color: var(--bg-secondary);
  border: 1px var(--border) solid;
}

a {
  color: var(--link-text);
  text-decoration-color: var(--link-underline);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
a:hover {
  text-decoration-color: var(--link-underline-hover);
}

*:target { background-color: var(--bg-secondary); }

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 250ms !important;
    transition-delay: 0 !important;
}

@keyframes rotate_360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashed {
  border-top: 1px var(--text) dashed;
  margin: 0.5em 0;
}
.not-dashed {
  border-top: 1px var(--text) solid;
  margin: 0.5em 0;
}
mark {
  padding: 0.4em;
  background-color: var(--highlight);
  font-size: 0.6em;
  letter-spacing: 1px;
}

.text-bold {
  font-weight: bold;
}
.text-upcase {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text-notupcase {
  letter-spacing: 1px;
}
p code, li code {
  padding: 0.2rem;
  color: var(--code-text);
  font-weight: bold;
}
.post-title {
  margin-bottom:-1.5rem;
}
.project-title {
  margin-bottom: 0.8rem;
}

.credits {
  // position: absolute;
  bottom: 0;
  font-size: 0.8em;
  color: var(--text);
  margin: 0 auto;
  text-align: center;
}

.photocolumn {
  float: left;
  width: 45%;
  padding: 5px;
}

.photorow::after {
  content: "";
  clear: both;
  display: table;
  margin-left: auto;
  margin-right: auto;

}

// KB Club css stuff
.kb-club a {
	text-decoration: none;
  color: #212121;
  font-weight: bold;
  padding: .25rem 0;
  font-family: sans-serif;
  transition: .4s;
  background: #C8E6C9;
}

.kb-club-bg,
.kb-club-no-bg {
  background: #C8E6C9;
	padding: .25rem .5rem;
}

.kb-club-bg {
	background: #4CAF50;
	color: #212121;
}

ul {
  // padding-inline-start: 40px;
  padding-inline-start: 1.5rem;
}

.container-404 {
  margin: 1em auto;
  max-width: 60em;
  text-align: center;
}

.homepage_flex_divs {
  width: 90vw;
}

ul.horizontal-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-inline-start: 0;  

  li {
    display:inline;
    margin: 0 0 1.5rem 0;
  }

  li a {
    font-weight: normal;
    font-size: 1.3rem;
  }

  

}