html {
  height: 100%;
  background-color: #74c0fc;
}

body {
  margin: 0;
  min-height: 100%;
  border: none;
}

hr {
  margin: 1em 0;
}

li {
  margin: 0.4em 0;
}

.w {
  margin: 0 auto;
  padding: 3rem 1.5rem 1.5rem;
  background: var(--w-mobile-background);
  // max-width: 62rem;
}

table,
th,
td {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4em;
}

div.highlighter-rouge pre code,
pre code.highlighter-rouge {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1em;

  p {
    margin: 0;
  }
}

.theme-toggle {
  color: var(--text);
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  margin: 1em;
  position: fixed;
  right: 0;
  top: 0;
  border: 2px transparent solid;
  outline: none;
  display: none;
  animation: rotate_360 10s linear infinite;
}

.theme-toggle:hover {
  color: var(--link-text);
  outline: none;
}

.theme-toggle:focus {
  outline: none;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

body {
  // background-color: var(--bg);
  color: var(--text);
}

p,
strong,
b,
em,
small,
li,
hr,
table,
figcaption {
  color: var(--text);
}

.highlight,
pre code,
blockquote {
  border-radius: 0.5em;
}

blockquote {
  background-color: var(--bg-secondary);
  border: 1px var(--border) solid;
}

*:target {
  background-color: var(--bg-secondary);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 250ms !important;
  transition-delay: 0 !important;
}

@keyframes rotate_360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.not-dashed {
  border-top: 1px var(--text) solid;
  margin: 0.5em 0;
}

p code,
li code {
  padding: 0.2rem;
  color: var(--code-text);
  font-weight: bold;
}

.post-title {
  margin-bottom: -1.5rem;
}

.project-title {
  margin-bottom: 0.8rem;
}

.credits {
  // bottom: 0;
  color: var(--text);
  row-gap: 0.9rem;
  display: grid;
  margin: 0 auto;
  text-align: center;
  overflow: auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-start: 0rem;
    // margin: 0.4rem auto 1.2rem auto;
    margin: 0rem;

    li {
      display: block;
      // min-width: fit-content;
      box-shadow: 0 0.2rem 0.4rem 0.1rem var(--shadow);
      transition: box-shadow 0.15s ease-in;
    }

    li.club-credits {
      border-radius: 1rem;
      background-color: #C5D4C6;
    }
  }

  ul.smol-credits {
    justify-content: space-around;

    li {
      border-radius: 1rem;
      margin: 0.4rem 0.4rem;
      justify-content: space-around;
    }
  }

  p {
    margin: 0rem auto;
  }
}

a.credit-color-box {
  text-decoration: none;
  font-weight: 600;
  transition: 0.1s;
  display: flex;
  width: 9.2rem;

  p {
    margin: 0;
    color: #212121;
    height: 2rem;
    line-height: 2rem;
    padding: 0rem;
    font-size: 0.85rem;
    animation: none !important;
  }

  .left {
    border-radius: 1rem 0 0 1rem;
    padding: 0rem 0.3rem 0rem 0.5rem;
    // padding-left: 0.4rem;
    text-align: center;
    min-width: fit-content;
  }

  .right {
    border-radius: 0 1rem 1rem 0;
    text-align: center;
    width: -webkit-fill-available;
  }
}

a.club-color-box {
  text-decoration: none;
  font-weight: 600;
  transition: 0.1s;
  display: flex;

  p {
    margin: 0;
    min-width: fit-content;
    width: -webkit-fill-available;
    color: #212121;
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.8rem;
    animation: none !important;
  }
}

.kb-club-box {
  .left {
    background: #C8E6C9;
    border-radius: 1rem 0 0 0 !important
  }

  .right {
    background: #4CAF50;
    border-radius: 0 1rem 0 0 !important
  }

  p {
    border-radius: 0 !important
  }

  margin-bottom: 0.2rem;
}

.darktheme-club-box {
  .left {
    background: #c2c2c2;
    border-radius: 0 0 0 1rem !important
  }

  .right {
    background: #272727;
    color: #c2c2c2 !important;
    border-radius: 0 0 1rem 0 !important
  }

  p {
    border-radius: 0 !important
  }

  margin-top: 0.2rem;
}

.jekyll-credit-box {
  .left {
    background: #4A4A4C;
    color: #CACBCC;
  }

  .right {
    background: #d40000;
    color: #C7C9CA !important;
  }
}

.moonwalk-credit-box {
  .left {
    background: white;
    color: black;
  }

  .right {
    background: #1E2329;
    color: #70A8DA !important;
  }
}

.github-credit-box {
  .left {
    background: #F6F8FA;
    color: #0868DA;
  }

  .right {
    background: #23282F;
    color: white !important;
  }
}

.rss-credit-box {
  background: #EA7717;
  border-radius: 1rem;
  width: -webkit-fill-available;

  p {
    color: white !important;
  }

  img {
    width: 1rem;
    margin: 0rem 0.5rem 0rem 2rem;
    // make this white
    filter: invert(1);
  }
}

.credit-copyright {
  height: fit-content;
  margin: auto 0rem;
  border: solid var(--link-underline) 0.5rem;
  // padding: 0rem 0.8rem;
  border-radius: 1rem;
  background-color: var(--link-underline);
  max-width: 90%;

  p {
    font-size: 1.4rem;
    color: white !important;
    font-weight: 700;
    line-height: 1.6rem;
  }
}

ul {
  padding-inline-start: 0rem;
}

.container-404 {
  margin: 1em auto;
  max-width: 60em;
  text-align: center;
}

.homepage_flex_divs_posts {
  width: 90vw;
}

.homepage_flex_divs_projects {
  width: 90vw;
}

.tag {
  // box-shadow: 0 0 0 0.35rem var(--card-color);
  transition: 0.2s ease-in;
  margin-bottom: 0.3rem;
  border-radius: 0.8rem;
  padding: 0 0.6rem;
  background-color: var(--card-color);
  display: block;
  height: fit-content;
}

a[href*="/tag/"] {
  text-decoration: none;
}

.blog_image {
  border-radius: 1.5rem;
  transition: 0.2s ease-in;
}

picture {
  figcaption {
    margin-top: 0.5rem;
  }
}

.post-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-inline-start: 0rem;
  row-gap: 2rem;

  .post-list-item {
    display: block;
    width: 19rem;
    max-width: 80vw;
    margin: 0rem;
    padding: 1rem;
    background: var(--project-box);
    border-radius: 1.4rem;

    p {
      font-style: italic;
      margin: 0.5rem 0rem 0rem;
    }
  }
}

.tag-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 1rem;
}

.limit-homepage-posts {
  ul {
    li:nth-of-type(1n+4) {
      display: none;
    }
  }
}

header {
  display: none;
}

.goatcounter {
  height: fit-content;
  font-size: 0.9rem;
  margin: auto 0;
  line-height: 1rem;
  background-color: white;
  padding: 0.3rem;
  color: #9a15a4;
  border: solid #9a15a4 0.36rem;
  border-radius: 1rem;

  #stats {
    margin: 0.3rem 0;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.project-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2rem;

  .project-box {
    background: var(--project-box);
    animation: none;
    border-radius: 1.4rem;
    margin: 0rem;
    display: flex;
    max-width: 80vw;
    width: 28rem;
    padding: 1rem;

    .project-box-image {
      height: 5rem;
      width: 5rem;
      margin: auto 1rem auto 0rem;
      background-color: red;
      transition: filter 0.2s ease-in;
      transition: border-radius 0.2s ease-in;
      // border-radius: 1.8rem;
      border-radius: 1.4rem;
    }

    .project-box-contents {
      width: 22rem;
    }

    h3 {
      margin: 0rem;
      color: var(--link-text)
    }

    a {
      width: fit-content;
      display: block;
    }

    h4 {
      margin: 0rem;
      color: var(--text)
    }

    ul {
      margin: 0rem;
    }

    p {
      margin: 0rem;
    }
  }
}