body {
    scrollbar-color: var(--pine) var(--highlight-med);
}
body::-webkit-scrollbar {
    width: 0.9rem;
    // height: 20px;
}
body::-webkit-scrollbar-thumb {
    background: var(--pine);
    border-radius: 0.3rem;
}
body::-webkit-scrollbar-track {
    // border-left: 1px solid var(--paper-highlight);
    background: var(--highlight-med);
}

