body {
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
body::-webkit-scrollbar {
    width: 0.8rem;
    // height: 20px;
}
body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-foreground);
    border-radius: 0.3rem;
}
body::-webkit-scrollbar-track {
    // border-left: 1px solid var(--paper-highlight);
    background: var(--scrollbar-background);
}