@font-face {
  font-family: 'Red Hat Display';
  font-weight: 1 999;
  // font-display: block;
  src: url(/assets/fonts/RedHatDisplay-VariableFont.woff2) format("woff2");
}

.h1-website-title {
  font-family: 'Red Hat Display';
  font-weight: 700;
  font-style: italic;
  // font-size: 3.5rem;
  font-size: 14vmin;
  text-align: center;
  color: var(--link-text);
  border-radius: 3rem;
  padding: 1rem;
  border: solid var(--link-underline) 0.5rem;
}

.tag {
  font-family:  "Red Hat Display";
  color: var(--link-text);
  font-size: 1rem;
  font-weight: 500;
  text-transform: lowercase;
}
.tag a {
  text-decoration: none;
}

body {
  font-family:  "Red Hat Display";
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2;
}

a {
  color: var(--link-text);
  text-decoration-color: var(--link-underline);
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.3rem;
  transition: 0.2s ease-out;
}
a:hover {
  text-decoration-color: var(--link-text);
}

p {
  margin: 1em 0; 
  transition: 0.2s ease-out;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headings);
  width: fit-content;
  transition: 0.2s ease-out;
  margin-top: 1.5rem;
}

h1 {
  line-height: 3rem;
  margin-top: 2rem;
}
h2 {
  margin-left: 0rem;
}
h3 {
  // margin: 0 0 0 1rem;
  line-height: 1rem;
}

.inpost_description {
  font-style: italic;
  max-width: 40rem;
  margin: 2rem auto;
  text-align: center;
  border-radius: 1rem;
  border: solid var(--link-underline) 0.2rem;
  padding: 1rem;
}