@font-face {
  font-family: 'Red Hat Display';
  font-weight: 1 999;
  font-display: block;
  src: url(/assets/fonts/RedHatDisplay-VariableFont_wght.ttf) format("truetype-variations");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url(/assets/fonts/custom-Ubuntu-BoldItalic.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}


.h1-website-title {
  font-family: Ubuntu;
  font-weight: 700;
  font-style: italic;
  font-size: 3.5rem;
  text-align: center;
  color: var(--link-text);
}

pre, code {
  font-family: "Courier New", monospace;
  font-weight: 500;
  font-size: 0.9rem;
  color: lime
}

.tag {
  font-family:  "Red Hat Display", sans-serif;
  color: var(--link-text);
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: lowercase;
}
.tag a {
  text-decoration: none;
}

body {
  font-family:  "Red Hat Display", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2;
}

a {
  color: var(--link-text);
  text-decoration-color: var(--link-underline);
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.3rem;
  transition: 0.2s ease-out;
}
a:hover {
  text-decoration-color: var(--link-text);
}

ul.horizontal-list {
  li a {
    font-weight: 500;
    font-size: 1.5rem;
  }
}

p {
  margin: 1em 0; 
  transition: 0.2s ease-out;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headings);
  width: fit-content;
  transition: 0.2s ease-out;
  margin-top: 1.5rem;
}