---
layout: default
---

<header>
    {% if site.theme_config.show_navbar == true %}
      {% include horizontal_list.html collection=site.data.home.navbar_entries %}
      <div class=not-dashed></div>
    {% endif %}
    </header>
<h1 class="post-title">{{ page.title }}</h1>
<picture>
  <img src="/images/profile_photo.jpg" alt="A picture of young me with a dumb look on my face and a bunch on cash on the floor" class="blog_image"/>
  <figcaption style="text-align:center">Don't ask what bank I robbed...</figcaption>
</picture>


<p>My name is Julian Lopez and this is my personal site! I am a student at the University of Southern California studying Economics/Mathematics.</p>

<p>Feel free to email me at <a href="mailto:admin@julianlopez.net">admin@julianlopez.net</a></p>
