---
layout: default
---

<h1>Books</h1>
<p>A list of books I've read. As you can tell I lean heavily towards Science Fiction. The data on this page is sourced from my Hardcover account (@JLO64).</p>

{% assign books_by_year = site.data.hardcover_all_read | group_by: "year" %}
{% assign sorted_years = books_by_year | sort: "name" | reverse %}

{% for year_group in sorted_years %}
  <div class="books-year-section">
    {% if year_group.name == "2025" %}
      <h2 class="books-year-heading">2025 &amp; Earlier</h2>
    {% else %}
      <h2 class="books-year-heading">{{ year_group.name }}</h2>
    {% endif %}
    <ul class="hardcover-book-container">
      {% assign sorted_books = year_group.items | sort: "last_read_date" | reverse %}
      {% for book in sorted_books %}
      <li class="hardcover-book-item">
        {% if book.cover_filepath %}
          <img src="/{{ book.cover_filepath }}" alt="{{ book.title }}" class="hardcover-book-image" />
        {% endif %}
        <p class="hardcover-book-title">
          {% if book.slug %}
            <a href="https://hardcover.app/books/{{ book.slug }}" target="_blank" rel="noreferrer">{{ book.title }}</a>
          {% else %}
            {{ book.title }}
          {% endif %}
        </p>
        <p class="hardcover-book-author">
          {% for author in book.authors %}
            {{ author }}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </p>
        {% if book.rating %}
          <p class="books-book-rating">{{ book.rating }} / 5</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
