---
layout: default
---

<h1 class="h1-website-title noselect" style="margin: 2.5rem auto; line-height: 1;">{{ site.title }}</h1>
<div style="margin: 0 auto;" >
  <p style="text-align: center; max-width: 34rem; margin: 0 auto;">{{ site.description }}</p>
</div>  
<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
  <div class="homepage-mastodon-post-container">
    <h2>Latest Fediverse Post</h2>
      <div class="homepage-mastodon-post">
        <div class="homepage-mastodon-post-info">
          <img src="/assets/images/mastodon_profile_image.webp" class="mastodon_image"></img>
          <!-- <img src="{{ site.data.most_recent_mastodon_post.profile_image_url }}" class="mastodon_image"></img> -->
          <div class="mastodon_info_text">
            <div>
              <a href="https://gotosocial.julianlopez.net/@jlo64" class="mastodon_profile_link">Julian Lopez</a>
              <p>@jlo64@julianlopez.net</p>
            </div>
            <p class="mastodon-post-date">Posted on: {{ site.data.most_recent_mastodon_post.pubDate | date: "%B %d, %Y" }}</p>
          </div>
        </div>
        <div class="homepage-mastodon-post-description">
          <p>{{ site.data.most_recent_mastodon_post.description }}</p>
        </div>
        <div>
          <div class="mastodon_post_images">
            {% for mastodon_post_image in site.data.most_recent_mastodon_post.image_filenames %}
            <img src="/assets/images/{{ mastodon_post_image }}" class="mastodon_post_image"></img>
            {% endfor %}
          </div>
        </div>
        <p><a id="mastodon-post-link" href="{{ site.data.most_recent_mastodon_post.link }}">View Post on My GoToSocial Instance</a></p>
      </div>
  </div>
  <div class="homepage_flex_divs_posts limit-homepage-posts">
    <h2>Latest Blog Posts</h2>
    {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
    {% if sorted_posts.size > 0 %}
      <ul class="post-list-container">
      {% for post in sorted_posts limit:4 %}
        <li class="post-list-item">
          <a class="post_link" href="{{ post.url | relative_url }}">{{ post.title }}</a><br>
          {{ post.date | date: site.theme_config.date_format }}
          <ul class="tag-ul">
            {% assign sorted_tags = post.tags | sort %}
            {% for tag in sorted_tags %}
              <a href="/tag/{{ tag }}"><li class="tag">{{ tag | replace: "-", " " }}</li></a>
            {% endfor %}
          </ul>
          <p> {{ post.description }} </p>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    <!-- <a href="/posts">More Posts</a> -->
  </div>
  <div class="homepage_flex_divs_projects">
    <h2>Projects</h2>
    <ul class="project-box-container">
      {% for project_entry in site.data.projects.home %}
        <li class="project-box">
          <div class="project-box-top">
            <img src="{{project_entry.image}}" class="project-box-image"></img>
            <div class="project-box-top-text">
              <a href="{{ project_entry.url }}">{{project_entry.title}}</a>
              <p>{{project_entry.year}}: {{project_entry.status}}</p>
              <ul class="tag-ul">
                {% for tag in project_entry.tags %}
                  <li class="tag">{{ tag }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <p>{{ project_entry.description }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
