---
layout: default
---

<h1 class="h1-website-title" style="margin: 2.5rem auto; line-height: 1;">{{ site.title }}</h1>
<div style="margin: 0 auto;" >
  <p style="text-align: center; max-width: 34rem; margin: 0 auto;">{{ site.description }}</p>
</div>  
<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
  <div class="homepage_flex_divs_posts limit-homepage-posts">
    <h2>Latest Blog Posts</h2>
    {% include post_list.html limit=6 %}
    <!-- <a href="/posts">More Posts</a> -->
  </div>
  <div class="homepage_flex_divs_projects">
    <h2>Projects</h2>
    {% include card_list.html collection=site.data.home.project_entries %}
  </div>
</div>