---
layout: default
---
<header>
  {% if site.theme_config.show_navbar == true %}
    {% include horizontal_list.html collection=site.data.home.navbar_entries %}
    <div class=not-dashed></div>
  {% endif %}
</header>

<header>
  <h1>Posts Archive</h1>
</header>
<ul>
  <h2>Tags</h2>
  {% for tag in site.tags %}
  <span class="tag">
    <a href="{{ site.url }}/tag/{{ tag[0] }}">{{ tag[0] }}</a>
  </span>
{% endfor %}

</ul>


{% assign show_year = site.theme_config.show_year_in_archive %}
{% include post_list.html show_year=show_year %}
