---
layout: default
---
<header>
  {% if site.theme_config.show_navbar == true %}
    {% include horizontal_list.html collection=site.data.home.navbar_entries %}
    <div class=not-dashed></div>
  {% endif %}
</header>

<header>
  <h1>Posts Archive</h1>
</header>
<ul>
  <h2>Tags</h2>
  {% assign sorted_site_tags = site.tags | sort %}
  {% for tags in sorted_site_tags %}
    {% assign tag = tags[0] %}
    <span class="tag"><a href="/tag/{{ tag }}">{{ tag | replace: "-", " " }}</a></span>
  {% endfor %}
  
</ul>

<h2 style="padding-inline-start: 1.5rem;"><a class="button random" href="#100" onclick="randomSite(); return false;">Read a Random Post</a></h2>

<script>
  function randomSite() {
  const sites = document.getElementsByClassName('post_link')

  if (sites.length > 0) {
    const choiceIndex = Math.floor(Math.random() * sites.length)
    window.location.href = sites[choiceIndex].attributes.href.value
  }
}
</script>


{% include post_list.html show_year=true %}
